"*":
  "autocomplete-python":
    useKite: false
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 15
    softWrap: true
  "exception-reporting":
    userId: "47b7f0b6-6e1d-48de-8b5a-21b2169750f2"
  "go-plus":
    config: {}
    panel:
      currentHeight: "13.350340136054422vh"
  "linter-eslint":
    lintHtmlFiles: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
    ]
  "linter-ui-default":
    showPanel: true
  "platformio-ide-terminal":
    core: {}
    style:
      fontFamily: "Meslo LG M DZ for Powerline"
      fontSize: "13"
  welcome:
    showOnStartup: false
