[user]
    name = Darío Blanco
    email = dblancoit@gmail.com
[github]
    user = sharkerz
[color]
    pager = true
    ui = auto
[core]
    pager = less -FRSX
    editor = vi
[alias]
    co = checkout
    ci = commit -m
    cia = commit -am
    st = status
    graph = log --all --graph --decorate --oneline -n30
    rgrep = !git grep
    diffc = diff --cached
    clearbranches = !git branch --merged master | grep -v 'master$' | xargs git branch -d
    logl = log --oneline
