[user]
    name = Darío Blanco
    email = dblancoit@gmail.com
[github]
    user = darioblanco
    email = dblancoit@gmail.com
[color]
    pager = true
    ui = auto
[core]
    pager = less -FRSX
    editor = vi
[web]
	browser = google-chrome
[credential]
    helper = osxkeychain
[alias]
    co = checkout
    cob = checkout -b
    ci = commit -m
    cia = commit -am
    amend = commit -a --amend
    st = status
    graph = log --all --graph --decorate --oneline -n30
    rgrep = !git grep
    diffc = diff --cached
    unstage = reset HEAD
    clearbranches = !git branch --merged main | grep -v 'main$' | xargs git branch -d
    delete-merged-branches = "!git co main && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
    logl = log --oneline
    ec = config --global -e
